@media (max-width: 1024px) {
  .header__container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .header {
    padding: 40px 0;
  }

  .header__logo {
    /* margin-bottom: 160px; */
    width: 144px;
    height: 24px;
  }

  .nav__list {
    display: none;
  }

  .open--burger-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: var(--color-dark);
    padding: 40px 24px;
    display: flex;
    justify-content: space-between;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .nav__list--burger {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__link {
    color: var(--color-light);
    font-size: 24px;
    line-height: 25px;
    text-transform: uppercase;
    font-family: "JosefinSans";
  }

  .burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .products__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .about {
    padding-bottom: 100px;
  }

  .about__image-container {
    position: inherit;
  }

  .about__image {
    max-width: none;
  }

  .about__text {
    position: inherit;
    padding: 40px;
    width: 100%;
    max-width: none;
  }

  .about__title,
  .products__title {
    text-align: center;
  }

  .about__descr {
    text-align: center;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__col {
    flex-direction: column;
    align-items: center;
  }

  .footer__col:first-child {
    margin-bottom: 50px;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__right {
    align-items: center;
  }
}

@media (max-width: 767px) {
  .hero__title {
    font-size: 52px;
    line-height: 52px;
    padding: 24px;
    max-width: 500px;
  }

  .products__top {
    margin-bottom: 50px;
    justify-content: center;
  }

  .products {
    padding-bottom: 100px;
  }

  .products__list {
    margin-bottom: 35px;
    grid-template-columns: repeat(2, 1fr);
  }

  .products__item {
    max-height: 550px;
  }

  .products__link {
    font-size: 24px;
    left: 20px;
    max-width: 110px;
  }

  .products__btn {
    display: none;
  }

  .products_btn--bottom {
    display: block;
    min-width: 120px;
    max-width: 160px;
    margin: 0 auto;
  }
}

@media (max-width: 481px) {
  .hero {
    height: auto;
  }

  .hero__title {
    font-size: 40px;
    line-height: 38px;
    padding: 24px;
  }

  .about {
    padding-top: 100px;
  }

  .about__title {
    font-size: 32px;
    line-height: 32px;
  }

  .about__text {
    padding: 0;
  }

  .about__image {
    object-fit: contain;
    height: auto;
    margin-bottom: 40px;
  }

  .products__title {
    font-size: 32px;
    line-height: 32px;
  }

  .products__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .products__item {
    min-height: 120px;
    height: 120px;
  }
}
