@media (max-width: 1024px) {
 

  .burger-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__col {
    flex-direction: column;
    align-items: center;
  }

  .footer__col:first-child {
    margin-bottom: 50px;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__right {
    align-items: center;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .header__nav {
    position : fixed;
    padding: 30px 0;
    right: 0;
    top: 120px;
    z-index: 1000;
    width: 80%;
    max-width: 260px;
    background-color: var(--color-dark);
    transform: translateX(100%);
    transition: 0.6s ease-in-out;
  }

  .nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
