@media (max-width: 1024px) {
.header__container {
  align-items: flex-start;
}

  .header__nav {
   
    position: fixed;
    left: 0;``
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: var(--color-dark);
    padding: 40px 24px;
  }

  
  
  .burger {
    display: flex;

  }

  .menu__close {
    width: 20px;
    height: 20px;
    position: relative;
  }

  .menu__close-line {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background-color: #ffffff;
  }

  .menu__close-line:first-child {
    transform: rotate(45deg);
  }

  .menu__close-line:last-child {
    transform: rotate(-45deg);
  }

  .header__logo {
    margin-bottom: 160px;
      width: 144px;
      height: 24px;
  
  }


  .nav__list {
    display: none;
    width: 100%;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__link {
    color: var(--color-light);
    font-size: 24px;
    line-height: 25px;
    text-transform: uppercase;
    font-family: "JosefinSans";
  }

 

  .footer__container {
    flex-direction: column;
  }

  .footer__col {
    flex-direction: column;
    align-items: center;
  }

  .footer__col:first-child {
    margin-bottom: 50px;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__right {
    align-items: center;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 24px;
  }
}
