html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: url("../img/pointer.svg"), auto;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSansLight.woff2") format("woff2");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "JosefinSans", sans-serif;
  overflow-x: hidden;
}

:root {
  --color-light: #ffffff;
  --color-dark: #000000;
}

.container {
  max-width: 1144px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.d-none {
  display: none;
}

.close--menu {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
}

.logo {
  display: inline-block;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 64px 0;
}

.header__container {
  transition: 0.3s all ease-in-out;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__burger-menu {
  flex-direction: column;
  justify-content: start;
}

.logo svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__logo {
  width: 192px;
  height: 32px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 32px;
}

.nav__link {
  font-family: "Alata";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-light);
  position: relative;
  padding-bottom: 8px;
 
}

.nav__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  bottom: 0;
  left: 25%;
  opacity: 0;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
}
.nav__link:hover:before {
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.burger {
  cursor: url("../img/pointer.svg"), auto;
  width: 24px;
  height: 24px;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.burger__line:not(:last-child) {
  margin-bottom: 5px;
}

.burger__close {
  cursor: url(../img/pointer.svg), auto;
  width: 20px;
  height: 20px;
  position: relative;
  padding-top: 10px;
}

.burger__close-line {
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
}

.burger__close-line:first-child {
  transform: rotate(45deg);
}

.burger__close-line:last-child {
  transform: rotate(-45deg);
}

.hero {
  padding-top: calc(128px + 130px);
  padding-bottom: 146px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 650px;
  height: 90vh;
}

.hero__title {
  padding: 50px;
  border: 2px solid var(--color-light);
  max-width: 650px;
  font-size: 72px;
  line-height: 70px;
  color: var(--color-light);
}

.about {
  padding-top: 160px;
  padding-bottom: 184px;
}

.about__image-container {
  position: relative;
}

.about__image {
  height: 500px;
  width: 100%;
  object-fit: cover;
  max-width: 730px;
}

.about__text {
  position: absolute;
  bottom: 0;
  right: 40px;
  background-color: var(--color-light);
  padding-left: 96px;
  padding-top: 96px;
  max-width: 540px;
}

.about__title {
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 48px;
}

.about__descr {
  margin: 0;
  font-family: "Alata";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-dark);
  opacity: 0.5;
}

.products {
  padding-bottom: 180px;
}

.products__top {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__title {
  font-size: 48px;
  line-height: 48px;
}

.products__btn {
  padding: 13px 38px;
  font-family: "Alata";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--color-dark);
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  min-width: 157px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: url("../img/pointer.svg"), auto;
}

.products__btn:hover {
  color: var(--color-light);
  background-color: var(--color-dark);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.products__item {
  padding: 0;
  position: relative;
  min-height: 450px;
  transition: all 0.3s ease-in-out;
  cursor: url("../img/pointer.svg"), auto;
}

.products__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.products__item:hover::before {
  opacity: 0.75;
  transition: all 0.3s ease-in-out;
}

.products__item:hover .products__link {
  color: var(--color-dark);
  transition: color 0.3s ease-in-out;
}

.products__item img {
  height: 100%;
  width: 100%;
}

.products__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 0%;
}

.products__link {
  position: absolute;
  left: 40px;
  bottom: 32px;
  max-width: 149px;
  font-size: 32px;
  line-height: 32px;
  color: var(--color-light);
  transition: color 0.3s ease-in-out;
}

.products_btn--bottom {
  display: none;
}

.footer {
  padding: 44px 0;
  background-color: var(--color-dark);
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 15px;
  width: 144px;
  height: 24px;
}

.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__right {
  align-items: flex-end;
}

.socials__list {
  display: flex;
  margin-bottom: 15px;
}

.socials__item {
  position: relative;
  transition: 0.3s all ease-in-out;
}

.socials__item:not(:last-child) {
  margin-right: 16px;
}

.socials__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.socials__item:hover:before {
  opacity: 1;
  transition: 0.3s all ease-in-out;
}

.socials__link {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.socials__link svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.copyright {
  font-family: "Alata";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-light);
  opacity: 0.5;
}
